body {
  background: linear-gradient(to top right, #e66465, #9198e5);
}

h1,
h2 {
  font-family: "Patua One", cursive;
}

#heading {
  text-align: center;
  padding-top: 2.5em;
}

a:hover {
  color: blue;
}

.sign-in {
  font-family: "Patua One", cursive;
  color: black;
  font-size: 35px;
}

#placeholder {
  color: white;
}

#sign-in-btn {
  margin-top: 30px;
  width: 30%;
}

#anchor {
  font-weight: bold;
  margin-bottom: 40px;
}
